<div class=" w-screen">  <mat-toolbar color="#E4DFDF" style="height: 100px;">
    <span style="font-size: larger;">Student Management System</span>
    <button mat-raised-button (click)="homeBtn()" style="margin-left: auto;">Back</button>
    
    <button mat-raised-button 
                (click)="regBtn()" style="margin-left: 10px; border: none;">Register</button>
        <button mat-raised-button color="warn"
                (click)="logBtn()"style="margin-left: 10px;">Login</button>
</mat-toolbar>
</div>
