<div style="display: flex;" class="card">
  <div style="width: 300px; margin-right: 10px;">
    <mat-card class="marks-card" style="height: 250px; padding: 20px;">
      <mat-card-header>
        <div mat-card-avatar class="Logo"></div>
        <mat-card-title>View Marks</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Your Marks of Last semester can be viewed Here.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="width: 300px;" class="card"  (click)="viewCard()">
    <mat-card class="details-card" style="height: 250px; padding: 20px;">
      <mat-card-header>
        <div mat-card-avatar class="Logo"></div>
        <mat-card-title>View Details</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <p>Your Personal can be viewed Here.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
