
<div class="min-w-screen
min-h-screen
bg-gradient-to-t
from-purple-400
to-purple-600
items-center
justify-center
px-5
py-5
">
    <div class="w-full
    mx-auto
    rounded-xl
    bg-gray-500
    shadow-xl
    text-green-200
    relative
    overflow-hidden" style="max-width: 350px;">


    <form [formGroup]='upform' (ngSubmit) = onSubmit()>
        <h1 class="text-center text-3xl font-bold pt-5">Registration Form</h1>
        <div class="min-w-full
         bg-gradient-to-b
         from-gray-800
         to-gray-600
         h-206
         align-middle
         p-10
         text-xl ">
            
            <input type="text" class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none"
            placeholder="Username"
            formControlName="username" [(ngModel)] = 'data.username'><br><br>

            <input type="password" class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none"placeholder="Password"
            formControlName="password" [(ngModel)] = 'data.password'><br><br>

            <input type="text" class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none"
            placeholder="Emai Id"
            formControlName="email" [(ngModel)] = 'data.email'><br><br>

            <input type="text"class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none" placeholder="Class"
            formControlName="class" [(ngModel)] = 'data.class'><br><br>

            <input type="text" class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none"placeholder="Place"
            formControlName="place" [(ngModel)] = 'data.place'><br><br>

            <input type="text" class="h-8 w-60
            appearance-none bg-transparent border-b
            focus:outline-none" placeholder="Phone Number"
            formControlName="phone" [(ngModel)] = 'data.phone'><br><br>

            <button class="bg-violet-600 text-2xl
             text-white w-56  rounded-xl text-center
             flex justify-center m-auto" [disabled] = "upform.invalid">Register</button>
        
        </div>
    </form> 
    </div>
    
</div>